<link href="__PUBLIC__/default/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/default/css/datepicker3.css" rel="stylesheet">
<link href="__PUBLIC__/default/css/styles.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="__PUBLIC__/default/js/html5shiv.js"></script>
<script src="__PUBLIC__/default/js/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/default/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/default/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/default/js/chart.min.js"></script>
<script src="__PUBLIC__/default/js/chart-data.js"></script>
<script src="__PUBLIC__/default/js/easypiechart.js"></script>
<script src="__PUBLIC__/default/js/easypiechart-data.js"></script>
<script src="__PUBLIC__/default/js/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/Lib/layer/layer.js" type="text/javascript"></script>
<link rel="stylesheet" href="__PUBLIC__/Lib/Switch/css/multi-switch.min.css">
<script src="__PUBLIC__/Lib/Switch/src/multi-switch.js"></script>
<style>
    .NavActive{
        background-color: #e9ecf2;
    }
</style>