<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FIND-程序安装</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Install/css/install.css" />
</head>
<body>
<div class="postion">
    <div class="auth">
        <ul>
            <li style="margin-left:20px;font-size: 50px;margin-right: 50px;"><small>FIND</small>系统</li>
            <li class=<?php echo  $_GET['step'] == 1 ? 'selected':''; ?> >1.安装协议</li>
            <li class=<?php echo  $_GET['step'] == 2 ? 'selected':''; ?> >2.环境监测</li>
            <li class=<?php echo  $_GET['step'] == 3 ? 'selected':''; ?> >3.站点配置</li>
            <li class=<?php echo  $_GET['step'] == 4 ? 'selected':''; ?> >4.安装成功</li>
        </ul>
    </div>
</div>