<include file="header"/>
    <div class="auth">
        <div class="info">
            <h2>安装协议：</h2>
            <p>1、感谢您使用本套管理系统，致力于为您创建一个简单便捷但是功能强大的网站系统。</p>
            <p>2、您可以在完全遵守本许可协议的基础上，均可免费下载安装使用，商业应用请联系作者授权。</p>
            <p>3、尽管我们的所有应用在发布前已经经过了若干严格测试，但我们依然强烈建议各位用户朋友在安装和升级前备份。</p>
            <p>4、本程序只提供许可协议，并非出售，在未经过作者同意的情况下，严禁转售、赠送他人。</p>
            <p>5、本程序无法保证完全没有BUG，所导致的一切损失由使用者自行承担。</p>
            <div style="text-align: center;margin-top: 20px;">
                <a class="install" style="" href="{:U('Install/Install/install',array('step'=>2))}">同意安装</a>
            </div>
        </div>
    </div>
<include file="footer"/>