<footer>
    <div class="auto">
        <article>
            <header><h2>友情链接</h2></header>
            <ul>
                <li><a href="#"> Find官方</a></li>
                <li><a href="#">Discuz</a></li>
                <li><a href="#">WinPHP</a></li>
                <li><a href="#">AliPlay</a></li>
            </ul>
        </article>
        <article>
            <header><h2>旗下网站</h2></header>
            <ul>
                <li><a href="#">CDNS博客</a></li>
            </ul>
        </article>
        <article>
            <header><h2>联系方式</h2></header>
            <ul>
                <li><a href="#">封建</a></li>
                <li><a href="#">邮箱：915003293@qq.com</a></li>x
            </ul>
        </article>
    </div>
   <div class="buttom">
       Copyright © Find | 粤ICP备110599号
   </div>
</footer>
</bpdy>
</html>