<extend name="Public/Base" />
<block name="title"><title>Find-用户组编辑</title></block>
<block name="right">
        <div class="row" style="margin-top:10px;">
            <div class="col-lg-12">
                <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <form role="form" action="{:U('Admin/User/AddGroup')}" method="post">
                                        <div class="form-group">
                                            <label>用户组名称</label>
                                            <input class="form-control" name="title" placeholder="请输入用户名" value="{$UserData.username}">
                                        </div>
                                        <button type="submit" class="btn btn-primary">新增</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
</block>
