<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Find-后台管理系统</title>

	<link href="__PUBLIC__/default/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/default/css/datepicker3.css" rel="stylesheet">
	<link href="__PUBLIC__/default/css/styles.css" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="__PUBLIC__/default/js/html5shiv.js"></script>
	<script src="__PUBLIC__/default/js/respond.min.js"></script>
	<![endif]-->
	<script src="__PUBLIC__/default/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/default/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/default/js/chart.min.js"></script>
	<script src="__PUBLIC__/default/js/chart-data.js"></script>
	<script src="__PUBLIC__/default/js/easypiechart.js"></script>
	<script src="__PUBLIC__/default/js/easypiechart-data.js"></script>
	<script src="__PUBLIC__/default/js/bootstrap-datepicker.js"></script>
	<script src="__PUBLIC__/Lib/layer/layer.js" type="text/javascript"></script>
</head>
<body>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<div class="login-panel panel panel-default">
			<div class="panel-heading">Find-后台管理系统</div>
			<div class="panel-body">
				<form  action="" method="post">
					<fieldset>
						<div class="form-group">
							<input class="form-control" placeholder="Username" name="username" type="text" autofocus="">
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="Password" name="password" type="Password" value="">
						</div>

						<div class="form-group">
							{:tag('Validate')}
						</div>
						<button id="submit"  class="btn btn-primary submit">Login</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript">
	$(function(){
		$('.submit').click(function(){
			if($("[name='username']").val()==''){
				layer.open({
					type:0,
					title:'警告',
					content:'用户名不能为空！',
					icon:2
				});
				return false;
			}
			if($("[name='password']").val()==''){
				layer.open({
					type:0,
					title:'警告',
					content:'密码不能为空！',
					icon:2
				});
				return false;
			}
		});
	});

</script>
</html>
